.App {
  text-align: center;
  background: #110a2f;
  color: #b5c5c5;
}

.App-social {
  display: flex;
  position: fixed;
  top: 30%;
  right: 3rem;
  flex-direction: column;
  gap: 2rem;
  justify-self: center;
  align-self: center;
}
.App-social svg {
  font-size: 1.5rem;
  color: #b5c5c5;
}
.App-line {
  height: 5rem;
  width: 1px;
  background-color: #b5c5c5;
  margin: auto;
}
.App-social svg:hover {
  color: goldenrod;
  cursor: pointer;
  transform: translate(-3px, 0px);
  transition: ease-in 0.2s;
}
.App-email {
  display: flex;
  position: fixed;
  left: 3rem;
  bottom: 0;
  flex-direction: column;
  gap: 2rem;
}
.App-email a {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  text-decoration: none;
  color: #b5c5c5;
}
.App-email a:hover {
  color: goldenrod;
  cursor: pointer;
  transform: rotate(180deg) translate(0px, 3px);
  transition: ease-in 0.2s;
}
@media screen and (max-width: 1023px) {
  .App-email {
    display: none;
  }
  .App-social {
    display: none;
  }
}
